/*!
bpmn-questionnaire Styles v0.1.0
*/

.bpmn-questionnaire {
  padding: 2rem;
  background-color: #fff;
}

.bpmn-questionnaire-progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1rem;
}

.bpmn-questionnaire-progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
}

.bpmn-questionnaire-progress[value]::-webkit-progress-value {
  background-color: #0078e7;
  border-radius: 2px;
}

.bpmn-questionnaire-progress-success[value]::-webkit-progress-value {
  background-color: #52B415;
}

.bpmn-questionnaire-float-left {
  float: left;
}

.bpmn-questionnaire-float-right {
  float: right;
}